<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>{{ brand }}® Design Tokens | Tapestry</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="font-face.css">
  <link rel="stylesheet" href="variables.css">
  {{> styles}}
</head>
<body>

  <header>
    <h1>{{ brand }}<sup>®</sup> Design Tokens</h1>
    <p>version <code>{{ version }}</code></p>
  </header>

  <main>
    {{> assets}}
    {{> color}}
    {{> font-family}}
    {{> font-size}}
    {{> letter-spacing}}
    {{> line-height}}
  </main>
  
</body>
</html>
