<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>{{ brand }}® Design Tokens | Tapestry</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="font-face.css">
  {{> styles}}
</head>
<body>

  <h1>{{ brand }}<sup>®</sup> Design Tokens</h1>

  {{> fonts}}

  {{> colors}}
  
</body>
</html>
