<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>{{ brand }}® Design Tokens | Tapestry</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="font-face.css">
  <link rel="stylesheet" href="variables.css">
  {{> styles}}
</head>
<body>

  <header>
    <h1>{{ brand }}<sup>®</sup> Design Tokens</h1>
    <p>version <code>{{ version }}</code> | <a href="https://github.com/Tapestry-Inc/design-tokens/blob/v{{ version }}/CHANGELOG.md
" target="_blank">changelog</a></p>
  </header>


  <main>
    
    {{> assets}}

    {{> heading level=2 title='Variables'}}

    {{> section
        ctx=color
        title='Color'
        example='bg-color'
    }}
    
    {{> section
        ctx=font-family
        title='Font Family'
        example='font-family'
    }}

    {{> section
        ctx=font-size
        title='Font Size'
        example='font-size'
        original-value='true'
    }}

    {{> section
        ctx=letter-spacing
        title='Letter Spacing'
        example='letter-spacing'
        original-value='true'
    }}

    {{> section
        ctx=line-height
        title='Line Height'
        example='line-height'
    }}

    {{> section
        ctx=viewport
        title='Viewport'
        example='viewport'
    }}

  </main>
  
</body>
</html>
