<div 
  {{#if variable}}
    style="padding: 15px; letter-spacing: var({{variable}}); text-align: center;"
  {{/if}}
  {{#if classname}}
    class="{{classname}}"
    style="padding: 15px; text-align: center;"
  {{/if}}
>
  <p>Lorem ipsum dolor sit amet.</p>
</div>