<div 
  {{#if variable}}
    style="line-height: var({{variable}}); padding: '15px';  text-align: left;"
  {{/if}}
  {{#if classname}}
    class="{{classname}}"
    style="padding: 15px; text-align: left;"
  {{/if}}
>
  <p>Tapestry is a global house of brands powered by optimism, innovation, and inclusivity. We believe true luxury is a freedom of expression that ignites confidence and authenticity. At Tapestry, anyone from anywhere can have the best idea, and with hard work and dedication, anything is possible.
  </p>
</div>