{{> section-heading title='Line Height'}}
  
<table>
  <thead>
    <td class="heading-identifier">Identifier</td>
    <td class="heading-value center">Value</td>
    <td class="heading-example center">Example</td>
  </thead>
  <tbody>
    {{#each line-height}}
      <tr class="font">
        <td class="identifier">
          <ul>
            <li><span>CSS</span> <code>{{ attributes.identity.css.customProperty }}</code></li>
            <li><span>SCSS</span> <code>{{ attributes.identity.css.scssVariable }}</code></li>
          </ul>
        </td>
        <td class="value"><pre>{{ value }}</pre></td>
        <td class="example">
          <div style="padding: '15px'; line-height: {{ value }}; text-align: 'justify';">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
